<div class="row">
  <div *ngFor="let plugin of plugins">
    <nb-card style="margin: 0 0.5rem;">
      <nb-card-header>{{plugin.name}}</nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>Dettagli Plug-In</nb-accordion-item-header>
            <nb-accordion-item-body>
              <li>{{plugin.description}},</li>
              <li>{{plugin.url}},</li>
              <li>tipo di metodo {{plugin.method}}</li>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
      <nb-card-footer>
        <nb-toggle status="success">Abilitato</nb-toggle>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" style="position: relative; width: 25%; bottom: -5px; float: right">
  <nb-card>
    <nb-card-header>Aggiungi Plug-In</nb-card-header>
    <nb-card-body>
        <button nbButton status="success">Aggiungi<nb-icon icon="star"></nb-icon></button>
    </nb-card-body>
  </nb-card>
</div>